# PostgreSQL Database Connection
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stq_portal?schema=public"

# Auth Secret for JWT & Session encryption (generate with `openssl rand -base64 32`)
AUTH_SECRET="stq_portal_super_secret_session_key_min_32_characters_long_2026"

# Node Environment
NODE_ENV="development"
